.invite-code,
.invite-code-entry {
  font-size: 25px;
  letter-spacing: .12em;
  font-weight: bold;
}

.invite-code-entry {
  border-radius: 15px;
  padding: 15px 20px;
  min-height: 120px;
}

.open-document-button {
  min-width: 140px;
}

.user-counter {
  font-weight: bold;
}

.connection-popover > contents {
  padding: 0px;
}

.avatar {
  min-width: 46px;
  min-height: 46px;
  border-radius: 32px;
  font-size: 32px;
}

.connection-popover list {
 margin: 9px 3px;
}

.this-device-pill {
  border-radius: 9px;
	padding: 3px 6px;
	background-color: color-mix(in srgb, var(--accent-bg-color) 25%, transparent);
	color: var(--accent-color);
	font-weight: 700;
	font-size: 9px;
}
.open-popover contents {
  padding: 0px;
  min-width: 300px;
}

.open-popover .search {
  margin: 6px;
}

.open-popover row {
  border-radius: 6px;
  margin: 6px;
}

.open-popover .open-document {
  margin: 12px;
}
