.invite-code,
.invite-code-entry {
  font-size: 25px;
  letter-spacing: .12em;
  font-weight: bold;
}

/* HACK: the letter-spacing is also applied to the popover */
.invite-code-entry > popover {
  letter-spacing: 0px;
}

.invite-code-entry {
  border-radius: 15px;
  padding: 15px 20px;
  min-height: 120px;
}

.open-document-button {
  min-width: 140px;
}

.user-counter {
  font-weight: bold;
}

.connection-popover > contents {
  padding: 0px;
  padding-top: 6px;
}

.connection-popover .connection-mode-toggle,
.connection-popover .no-network-revealer {
  margin: 0px 12px;
}

.connection-popover row {
  padding: 3px 0px;
}

.connection-popover row:last-child {
  margin-bottom: 6px;
}

.connection-popover list {
  background-color: transparent;
  margin: 0px;
}

.connection-mode-toggle .toggle {
  padding: 6px;
}

.connection-popover image.circular {
    background: color-mix(in srgb, currentColor 10%, transparent);
    min-width: 34px;
    min-height: 34px;
    border-radius: 9999px;
}

.avatar {
  min-width: 16px;
  min-height: 16px;
  border-radius: 9999px;
}

.connection-popover .avatar {
  min-width: 46px;
  min-height: 46px;
  border-radius: 32px;
  font-size: 32px;
}

indicatorbin .indicator, indicatorbin .mask {
  min-width: 10px;
  min-height: 10px;
  border-radius: 100px;
}

indicatorbin .indicator {
  background-color: #33d17aff;
  margin: 3px;
}

indicatorbin .mask {
  background-color: black;
  margin: 1px;
  border: transparent 2px solid;
}

.this-device-pill {
  border-radius: 9px;
	padding: 3px 6px;
	background-color: color-mix(in srgb, var(--accent-bg-color) 25%, transparent);
	color: var(--accent-color);
	font-weight: 700;
	font-size: 9px;
}

.open-popover contents {
  padding: 0px;
  min-width: 300px;
}

.open-popover .search {
  margin: 6px;
}

.open-popover row {
  border-radius: 8px;
  margin: 2px 6px;
}

.open-popover .open-document {
  margin: 12px;
}

overlapping-avatars .avatar {
  background-clip: content-box;
  padding: 2px;
}

overlapping-avatars .avatar:dir(rtl):not(:first-child) {
  margin-right: -12px;
}

overlapping-avatars .avatar:dir(ltr):not(:last-child) {
  margin-right: -12px;
}

overlapping-avatars .avatar {
  font-size: .75em;
  min-width: 20px;
  min-height: 20px;
}

.authors-stack-overflow {
	background: color-mix(in srgb, currentColor 10%, transparent);
  border-radius: 99px;
	font-size: 9px;
	padding: 3px 6px;
}
